nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;

}
.logo {
    font-size: 24px;
    font-weight: bold;

}
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}
.nav-links li {
    margin-left: 20px;

}
.nav-links a {
    color: #fff;
    text-decoration: none;

}
.toggle-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;

}
.toggle-btn span {
    width: 25px;
    height: 3px;
    background-color: #fff;

}
@media(max-witdh:768px){
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-links li {
        margin: 10px 0;
        text-align: center;

    }
    .toggle-btn {display:flex ;}
    .nav-links.active {
        display: flex;
        
    }
}
