@font-face {
    font-family: 'poetsenone';
    src: url('fonts/PoetsenOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.parallax-section {
    height: 100vh; 
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 
}

#inicio {
    background-image: url('img/amarillo.jpg');
}
#menu {
    background-image: url('img/amarillo.jpg');
}
#ofertas {
    background-image: url('img/amarillo.jpg');
}
#contactos {
    background-image: url('img/amarillo.jpg');
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fa1d1d;
    color: #fcd630;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}
.logo img {
    width: 50px;
    height: 50px;
}
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}
.nav-links li {
    margin-left: 20px;

}
.nav-links a {
    color: #fdde2e;
    text-decoration: none;
    font-family: 'poetsenone';
    font-size: 25px;
}
.toggle-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;

}
.toggle-btn span {
    width: 25px;
    height: 3px;
    background-color: #f5d835;

}

@media(max-witdh:768px){
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-links li {
        margin: 10px 0;
        text-align: center;

    }
    .toggle-btn {display:flex ;}
    .nav-links.active {
        display: flex;
        
    }
}

a{
    position: relative;
    overflow: hidden;
}
a:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: #fdde2e;
    transition: width 0.3s ease;
}
a:hover:before{
width: 100%;
}

.somos{

    width: 300px; /* Ancho del cuadro */
    height: 325px; /* Altura del cuadro */
    background-color: #f82d2d; /* Color de fondo del cuadro */
    border: 2px solid #f31818; /* Borde del cuadro */
    padding: 20px; /* Espaciado interno del cuadro */
    box-sizing: border-box;
    text-align: center;
    position: relative;
    top: 25%;
    border-radius: 15px;
}

.somos p {
     
    font-family: 'poetsenone'; 
    font-size: 16px; 
    color: #333; 
}

.local img{
    width: 700px;
    height: 350px;
    position: relative;
    top: 5%;
    left: 100vh;
    border-radius: 25px;
}

.menu img{
    position: relative;
    top: 35vh;
}

.clasica img{
    position: relative;
    top: 35vh;
    left: 100vh;
}